@charset "utf-8";
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:12px;}
body{font:12px/1.5 "微软雅黑",Tahoma,Helvetica,Arial,sans-serif;background:#fff;}
h1,h2,h3,h4,h5,h6{*font-size:100%;font-weight:400;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,i,strong,th,var,em{font-style:normal;}
ol,ul{list-style:none outside;}
table{border-collapse:collapse;border-spacing:0;}
table td{word-wrap:break-word;}
caption,th{text-align:left;}
input,textarea,select,button{font-family:inherit;font-size:inherit;*font-size:100%;font-weight:inherit;resize:none;outline:none;}
input{outline: none;}
button{cursor:pointer;}
a{color:#454545;outline:none;blr:expression(this.onFocus=this.blur());text-decoration:none;}
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{display:inline-block;}
.clear{clear:both;height:0px;line-height:0px;overflow:hidden;}

.header_login{padding:3px;margin-left:5%;width:1200px;margin:0 auto;}

.login_content{width:1200px;margin:0 auto;background:url(../images/resiterbg.png) center top no-repeat;height:470px;}
.register{float:right;margin-right:88px;width:380px;height:435px;background:#fff;margin-top:20px;}
.register .register_tab{height:68px;border-bottom:1px solid #999;background:url(../images/tabli.gif) center center no-repeat;}
.register .register_tab span{float:left;text-align:center;height:70px;line-height:68px;font-size:16px;color:#999;width:190px;cursor:pointer;}
.register .register_tab span.active{color:#f10180;background:url(../images/tab_active.png) center bottom no-repeat;}
.register_div .register_form li{float:left;margin-top:8px;padding-left:17px;position:relative;}
.register_div .register_form input{float:left;width:325px;padding:12px;font-size:12px;border-radius:2px;font-size:12px;border:1px solid #999;}
.register_div .register_form input.yzmtext{width:200px;}
.register_div .register_form .span_yzm{float:left;width:100px;height:38px;line-height:38px;border:none;padding:0;text-align:center;border-radius:8px;background:#d0d0d0;cursor:pointer;color:#18b0ef;margin-left:20px;}
.register_table p{line-height:38px;padding-left:20px;font-size:14px;}
.registerButton{display:block;background:#f10180;width:300px;height:40px;text-align:center;line-height:40px;color:#fff;font-size:16px;border:none;border-radius:3px;margin-left:40px;}
.register_table p.p2{line-height:38px;font-size:14px;}
.register_table p.p2 a{color:#42bcd3;}
.otherlogin{height:18px;margin-bottom:5px;background:url(../images/otherlogin.png) center top no-repeat;width:100%;}
.otherList{margin:0 auto;display:block;margin-left:170px;}
.otherList li a{line-height:30px;}
.otherList li a img{float:left;margin-right:10px;}

label.fieldError{background: #ececec url(../images/error.png) 5px center no-repeat;;
    position: absolute;
    width: 350px;
    left: 12px;
    top: -25px;
    text-indent: 2em;
    border-radius: 5px;
    border: 1px solid #b2b2b2;}
/*快捷登录*/
.kj-login .register_form{margin-top:20px;}
.kj-login .register_form li{margin-top:22px;}
.kj-login .p1{padding:0 17px;height:70px;line-height:70px;font-size:14px;}
.kj-login .p1 label{float:left;color:#989898;}
.kj-login .p1 a{float:right;color:#42bcd1;}
.kj-login .p2{padding-left:20px;line-height:38px;font-size:14px;}
.kj-login .p2 a{color:#3fbdd3;}



.lost-password{height:60px;border-bottom:1px solid #999;line-height:60px;text-indent:35px;font-size:16px;}
.footerWarp{background:#f6f6f6;}
.footer{width:1200px;margin:5px auto;padding-top:10px;}
.footer dl{float:left;width:210px;margin-left:30px;}
.footer dl dt{width:33px;height:140px;background:url(../images/dl-icon1.png) 0 0 no-repeat;padding-left:5px;float:left;}
.footer dl dt.dl-icon2{width:33px;height:140px;background:url(../images/dl-icon2.png) 0 0 no-repeat;padding-left:5px;float:left;}
.footer dl dt.dl-icon3{width:33px;height:140px;background:url(../images/dl-icon3.png) 0 0 no-repeat;padding-left:5px;float:left;}
.footer dl dt.dl-icon4{width:33px;height:140px;background:url(../images/dl-icon4.png) 0 0 no-repeat;padding-left:5px;float:left;}
.footer dl dd strong{line-height:33px;font-size:12px;color:#656766;}
.footer dl dd a{font-size:12px;color:#888888;line-height:30px;}
.footer .gfwx{float:right;border-left:1px solid #e8e8e8;text-align:center;height:140px;width:180px;}
.footer .gfwx img{float:left;margin:0px 40px 0 40px;}
.footer .gfwx span{float:left;width:180px;line-height:20px;color:#686463;}
/*.footer中做了部分改动*/

.about{padding: 15px 0;border-top: 1px solid #e1e1e1;text-align: center;}
.about p{display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.about a{text-decoration: none;color:inherit;}
.about span{margin: 0 10px;color: #ccc;}
/*.about为0710修改*/


.Validform_checktip{margin-left:0;}
.info{
	border:1px solid #ccc; 
	padding:2px 20px 2px 5px; 
	color:#666; 
	position:absolute;
	display:none;
	line-height:20px;
	background-color:#fff;
}
.dec {
    bottom: -8px;
    display: block;
    height: 8px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    width: 17px;
}
.dec s {
    font-family: simsun;
    font-size: 16px;
    height: 19px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-decoration: none;
    top: -9px;
    width: 17px;
}
.dec .dec1 {
    color: #ccc;
}
.dec .dec2 {
    color: #fff;
    top: -10px;
}
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(../images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}










