* {
	margin: 0;
	padding: 0;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none
}

body {
	width: 7.5rem;
	height: 13.34rem;
	background: #F2F2F2;
	font-family: PingFangSC;
}

.header {
	width: 7.5rem;
	height: 0.8rem;
	background:linear-gradient(86deg,rgba(150,100,111,1) 0%,rgba(107,107,138,1) 50%,rgba(217,124,117,1) 100%);
	position: fixed;
	left: 0;
	top: 0;
}

.img {
	width: 0.26rem;
	height: 0.48rem;
	position: absolute;
	top: 0.16rem;
	left: 0.32rem;
}

.text {
	position: absolute;
	top: 0.12rem;
	left: 2.92rem;
	right: 2.94rem;
	width: 1.64rem;
	height: 0.8rem;
	font-size: 0.4rem;
	font-family: PingFangSC;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	line-height: 0.56rem;
}

.top {
	width: 7.5rem;
	height: 1.68rem;
	background:linear-gradient(86deg,rgba(150,100,111,1) 0%,rgba(107,107,138,1) 50%,rgba(217,124,117,1) 100%);
}

.top .tx {
	width: 1.28rem;
	height: 1.28rem;
	margin-left: 0.48rem;
	margin-top: 0.2rem;
	float: left;
}

.top .tx img {
	width: 1.28rem;
	height: 1.28rem;
	overflow: hidden;
	border: 0.04rem solid rgba(255, 255, 255, 1);
	border-radius: 0.65rem;
}

.top .phone {
	float: left;
	width: 2.4rem;
	height: 0.5rem;
	font-size: 0.36rem;
	font-family: PingFangSC-Medium, PingFangSC;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	line-height: 0.5rem;
	margin-left: 0.16rem;
	margin-top: 0.3rem;
}

.top .con {
	width: 5rem;
	height: 0.48rem;
	float: left;
}

.top .con .vip {
	line-height: 0.48rem;
	width: 1.6rem;
	height: 0.48rem;
	background:rgba(0,0,0,0.2);
	border-radius: 0.24rem;
	border: 0.02rem solid rgba(255,255,255,1);
	color: #ffffff;
	text-align: center;
	font-size: 0.28rem;
	float: left;
	margin-left: 0.14rem;
	margin-top: 0.14rem;
}

.top .con .aiDou {
	line-height: 0.48rem;
	width: 2rem;
	height: 0.48rem;
	background:rgba(0,0,0,0.2);
	border-radius: 0.24rem;
	border: 0.02rem solid rgba(255,255,255,1);
	color: #ffffff;
	text-align: center;
	margin-left: 0.2rem;
	font-size: 0.28rem;
	float: left;
	margin-top: 0.14rem;
}

.dj {
	margin-top: 0.16rem;
	display: block;
	width: 7.5rem;
	height: 0.96rem;
	background: rgba(255, 255, 255, 1);
}

.dj img {
	width: 0.08rem;
	height: 0.4rem;
	margin: 0.24rem 0 0 0.3rem;
	vertical-align: top;
}

.dj span {
	display: inline-block;
	font-size: 0.36rem;
	font-family: PingFangSC-Medium, PingFangSC;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
	line-height: 0.5rem;
	vertical-align: top;
	padding-top: 0.2rem;
	padding-left: 0.02rem;
}

.qingtong {
	width: 7.5rem;
	height: 1.12rem;
	background: rgba(255, 255, 255, 1);
	margin-top: 0.02rem;
}

.qingtong .qt {
	width: 1.6rem;
	height: 0.5rem;
	font-size: 0.36rem;
	font-family: PingFangSC-Regular, PingFangSC;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	line-height: 0.5rem;
	margin-top: 0.32rem;
	margin-left: 0.4rem;
	float: left;
}

.qingtong .ad {
	width: 2.5rem;
	height: 0.5rem;
	font-size: 0.36rem;
	font-family: PingFangSC-Regular, PingFangSC;
	font-weight: 400;
	color: #B8777C;
	line-height: 0.5rem;
	text-align: right;
	margin-top: 0.32rem;
	margin-left: 1.3rem;
	float: left;
}

.qingtong .duihuan {
	width: 1.2rem;
	height: 0.56rem;
	background:linear-gradient(297deg,rgba(147,114,133,1) 0%,rgba(148,114,132,1) 100%);
	box-shadow:0px 6px 10px 0px rgba(206,206,206,1);
	border-radius: 0.28rem;
	font-size: 0.32rem;
	font-family: PingFangSC-Regular, PingFangSC;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	line-height: 0.5rem;
	display: inline-block;
	text-align: center;
	margin-top: 0.32rem;
	margin-right: 0.4rem;
	float: right;
}